<div style="display: flex; flex-direction: column;">
    <app-header></app-header>
    <app-search-input></app-search-input>
    <div class="title-login"> 
        <h3>Welcome to T&M Market! Please login</h3>
        <p>New member? <a style="color: #1a9cb7; cursor: pointer;" href="/signup">Register</a> here.</p>
    </div>
    <div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center" >

        <mat-card class="box">
          <mat-card-header>
            <mat-card-title>Sign In</mat-card-title>
          </mat-card-header>
      
          <form class="example-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <mat-card-content>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" required formControlName="username">
              </mat-form-field>
      
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" type="password" required formControlName="password"> 
              </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block">Sign-in</button>
          </form>
        </mat-card>
      
      </div>

    <app-contact-us></app-contact-us>
    <app-footer></app-footer>

</div>