.footer-third {
    background-color: #f4f4f6;
    color: #888;
    padding: 60px 0 40px;
    }
.lzd-footer-inner {
    margin: 0 auto;
    width: 1188px;
    overflow: hidden;
        }
.footer-third .lzd-footer-left {
    -webkit-column-count: 2;
    column-count: 2;
        }
.lzd-footer-width-50 {
    width: 50%;
    overflow: hidden;
    float: left;
                }
.footer-third .lzd-footer-about, .footer-third .lzd-footer-new, .footer-third .lzd-footer-top-category {
    padding-right: 25%;
                    }
.footer-third .lzd-footer-title {
    font-size: 16px;
    color: #606060;
    font-weight: 300;
    line-height: 20px;
    margin: 0 0 5px;
    }
.footer-third .lzd-footer-third-new p {
    margin-top: 6px;
    margin-bottom: 12px;
    line-height: 14px;
    }
.footer-third .lzd-footer-about, .footer-third .lzd-footer-new, .footer-third .lzd-footer-top-category {
    padding-right: 25%;
    }
.footer-third .lzd-footer-title {
    font-size: 16px;
    color: #606060;
    font-weight: 300;
    line-height: 20px;
    margin: 0 0 5px;
    }    
.footer-third .lzd-footer-third-new p {
    margin-top: 6px;
    margin-bottom: 12px;
    line-height: 14px;
    }
.footer-third .lzd-footer-about a {
    color: #199cb7;
    text-decoration: none;
    }
    .lzd-footer-width-25 {
        width: 25%;
        float: left;
        overflow: hidden;
        }

        .footer-third .lzd-footer-category-tag {
            height: 15px;
            line-height: 15px;
            display: inline-block;
            font-size: 11px;
            }
            .footer-third .lzd-footer-category-tag {
                height: 15px;
                line-height: 15px;
                display: inline-block;
                font-size: 11px;
                }