<div class="flashContainer">
    <h3>Collections</h3>
    <div class="productSale">
        <mat-card class="listItem">
            <div class="productImage">
              <mat-card class="listColumn">
                <p>Hot offer for women ></p> 
                <h5>41.385 products</h5>
                <div style="display: flex; width: 287px">
                  <img class="imageMain" src="https://vn-test-11.slatic.net/p/677af29d61c8a03994e1820664d173e7.jpg_150x150Q100.jpg" alt="Sandal Nam">
                    <img class="imageMain" src="https://vn-test-11.slatic.net/original/2b3e213b0c0a240a4058bd4ceb44c23f.jpg_150x150Q100.jpg" alt="Sandal Nam">
                    <img class="imageMain" src="https://vn-test-11.slatic.net/p/acf695dc68c5cd1972be0789174b5b02.jpg_150x150Q100.jpg">
                </div>
              </mat-card> 
              <mat-card class="listColumn">
                <p>Hot offer for women ></p> 
                <h5>41.385 products</h5>
                <div style="display: flex; width: 287px">
                    <img class="imageMain" src="https://vn-test-11.slatic.net/p/a45065277c98014e7cdf3814351ccb2e.jpg_150x150Q100.jpg" alt="Sandal Nam">
                    <img class="imageMain" src="https://vn-test-11.slatic.net/p/53944d8be6277e901214b49476773c7f.jpg_150x150Q100.jpg" alt="Sandal Nam">
                    <img class="imageMain" src="https://vn-test-11.slatic.net/p/403aa8b8a6abe4f2a9780728ab0364eb.jpg_150x150Q100.jpg">
                </div>
              </mat-card> 
              <mat-card class="listColumn">
                <p>Hot offer for women ></p> 
                <h5>41.385 products</h5>
                <div style="display: flex; width: 287px">
                    <img class="imageMain" src="https://vn-test-11.slatic.net/p/e61dfeffa79f6196e7b92c6b6d2c73e0.jpg_150x150Q100.jpg" alt="Sandal Nam">
                    <img class="imageMain" src="https://vn-test-11.slatic.net/p/1b3dafe180839a11bbe857fd44e6e489.jpg_150x150Q100.jpg" alt="Sandal Nam">
                    <img class="imageMain" src="https://vn-test-11.slatic.net/p/0ee04b477e820e110271cdc5bf545aa4.jpg_150x150Q100.jpg">
                </div>
              </mat-card> 
              <mat-card class="listColumn">
                <p>Hot offer for women ></p> 
                <h5>41.385 products</h5>
                <div style="display: flex; width: 287px">
                    <img class="imageMain" src="https://vn-test-11.slatic.net/p/32edd89fa143421fc78f4ece94a84efd.jpg_150x150Q100.jpg" alt="Sandal Nam">
                    <img class="imageMain" src="https://vn-test-11.slatic.net/p/mdc/02dae32e1ae085b8277b9a08bab14895.jpg_150x150Q100.jpg" alt="Sandal Nam">
                    <img class="imageMain" src="https://vn-test-11.slatic.net/p/2bbc7e52eeb6293ef941850247655a99.jpg_150x150Q100.jpg">
                </div>
              </mat-card> 
            </div>
          </mat-card>
        </div>

        <div class="productCollection">
          <mat-card class="listItem">
              <div class="productImage">
                <mat-card class="listColumn">
                  <p>Hot offer for women ></p> 
                  <h5>41.385 products</h5>
                  <div style="display: flex; width: 287px">
                      <img class="imageMain" src="https://vn-test-11.slatic.net/p/9b0191bba54c47c703831ff2f4a10f3e.jpg_150x150Q100.jpg" alt="Sandal Nam">
                      <img class="imageMain" src="https://vn-test-11.slatic.net/p/12ab68feb318b34ccd0db0754b9e8ead.jpg_150x150Q100.jpg" alt="Sandal Nam">
                      <img class="imageMain" src="https://vn-test-11.slatic.net/p/33316a4477ddf9df276f283c4f0c3cb6.jpg_150x150Q100.jpg">
                  </div>
                </mat-card> 
                <mat-card class="listColumn">
                  <p>Hot offer for women ></p> 
                  <h5>41.385 products</h5>
                  <div style="display: flex; width: 287px">
                      <img class="imageMain" src="https://vn-test-11.slatic.net/p/ddc36b502460286cb3240d6912ae64ca.png_150x150Q100.jpg" alt="Sandal Nam">
                      <img class="imageMain" src="https://vn-test-11.slatic.net/p/70a85da955d017e79f869ae150a1677a.jpg_150x150Q100.jpg" alt="Sandal Nam">
                      <img class="imageMain" src="https://vn-test-11.slatic.net/p/7899ae556ee56335ea8a065007b89f41.jpg_150x150Q100.jpg">
                  </div>
                </mat-card> 
                <mat-card class="listColumn">
                  <p>Hot offer for women ></p> 
                  <h5>41.385 products</h5>
                  <div style="display: flex; width: 287px">
                      <img class="imageMain" src="https://vn-test-11.slatic.net/p/ab9357a842752f5f03c73f0c6dfcba7c.jpg_150x150Q100.jpg" alt="Sandal Nam">
                      <img class="imageMain" src="https://vn-test-11.slatic.net/p/6e828634bc40c6984da6843f77deff16.jpg_150x150Q100.jpg" alt="Sandal Nam">
                      <img class="imageMain" src="https://vn-test-11.slatic.net/p/d5d872cb8710b71fc8a7d36a92cd7d69.jpg_80x80Q100.jpg">
                  </div>
                </mat-card>  
                <mat-card class="listColumn">
                  <p>Hot offer for women ></p> 
                  <h5>41.385 products</h5>
                  <div style="display: flex; width: 287px">
                      <img class="imageMain" src="https://vn-test-11.slatic.net/p/b48ffc81d3b0bd925cedd6adc2290bc3.jpg_80x80Q100.jpg" alt="Sandal Nam">
                      <img class="imageMain" src="https://vn-test-11.slatic.net/p/ffdc203894f0ba992e1150e9931bb244.jpg_80x80Q100.jpg" alt="Sandal Nam">
                      <img class="imageMain" src="https://vn-test-11.slatic.net/p/be2c884075eabd23cbb34bf25b9c7d11.jpg_80x80Q100.jpg">
                  </div>
                </mat-card> 
              </div>
            </mat-card>
          </div>
        
  </div>
  