<div class="flashContainer">
  <h3 (click)="navigateMore(1)">Trending {{brandName}} Collections</h3>
  <div class="productSale">
    <mat-card class="listItem" *ngFor="let item of firstItemIphone">
      <div class="productImage">
        <mat-card class="listColumn" (click)="navigateDetail()">
          <p>{{item.name}} ></p>
          <h5>{{item.quantity}} quantities</h5>
          <div style="display: flex; width: 287px" >
            <img class="imageMain" src={{item.Images[0].address}} (click)="navigateDetail()">
            <img class="imageMain" src={{item.Images[0].address}} (click)="navigateDetail()">
            <img class="imageMain" src={{item.Images[0].address}} (click)="navigateDetail()">
          </div>
        </mat-card>

      </div>
    </mat-card>
  </div>

  <div class="productSale" style="margin-top: -90px">
    <mat-card class="listItem" *ngFor="let item of secondItemIphone">
      <div class="productImage">
        <mat-card class="listColumn" (click)="navigateMore(1)">
          <p>{{item.name}} ></p>
          <h5>{{item.quantity}} quantities</h5>
          <div style="display: flex; width: 287px">
            <img class="imageMain" src={{this.firstSecondImageIphone}} alt="Sandal Nam" (click)="navigateDetail()">
            <img class="imageMain" src={{this.secondSecondImageIphone}} alt="Sandal Nam" (click)="navigateDetail()">
            <img class="imageMain" src={{this.thirdSecondImageIphone}} alt="Sandal Nam" (click)="navigateDetail()">
          </div>
        </mat-card>

      </div>
    </mat-card>
  </div>

</div>

<div class="flashContainer" style="margin-top: 80px;">
  <h3 (click)="navigateMore(2)">Trending {{samsungName}} Collections</h3>
  <div class="productSale">
    <mat-card class="listItem" *ngFor="let item of firstItemSamsung">
      <div class="productImage">
        <mat-card class="listColumn" (click)="navigateMore(2)">
          <p>{{item.name}} ></p>
          <h5>{{item.quantity}} quantities</h5>
          <div style="display: flex; width: 287px">
            <img class="imageMain" src={{item.Images[0].address}} alt="Sandal Nam" (click)="navigateDetail()">
            <img class="imageMain" src={{item.Images[0].address}} alt="Sandal Nam">
            <img class="imageMain"
              src="https://vn-test-11.slatic.net/p/acf695dc68c5cd1972be0789174b5b02.jpg_150x150Q100.jpg">
          </div>
        </mat-card>

      </div>
    </mat-card>
  </div>

  <div class="productSale" style="margin-top: -90px">
    <mat-card class="listItem" *ngFor="let item of secondItemSamsung">
      <div class="productImage">
        <mat-card class="listColumn" (click)="navigateDetail()">
          <p>{{item.name}} ></p>
          <h5>{{item.quantity}} quantities</h5>
          <div style="display: flex; width: 287px">
            <img class="imageMain" src={{item.Images[0].address}} alt="Sandal Nam" (click)="navigateDetail()">
            <img class="imageMain"
              src="https://vn-test-11.slatic.net/p/12ab68feb318b34ccd0db0754b9e8ead.jpg_150x150Q100.jpg"
              alt="Sandal Nam">
            <img class="imageMain"
              src="https://vn-test-11.slatic.net/p/33316a4477ddf9df276f283c4f0c3cb6.jpg_150x150Q100.jpg">
          </div>
        </mat-card>

      </div>
    </mat-card>
  </div>
</div>

<div class="flashContainer" style="margin-top: 80px;">
  <h3 (click)="navigateMore(2)">Trending {{dellName}} Collections</h3>
  <div class="productSale">
    <mat-card class="listItem" *ngFor="let item of firstItemDell">
      <div class="productImage">
        <mat-card class="listColumn" (click)="navigateMore(2)">
          <p>{{item.name}} ></p>
          <h5>{{item.quantity}} quantities</h5>
          <div style="display: flex; width: 287px">
            <img class="imageMain" src={{item.Images[0].address}} alt="Sandal Nam" (click)="navigateDetail()">
            <img class="imageMain" src={{item.Images[0].address}} alt="Sandal Nam">
            <img class="imageMain"
              src="https://vn-test-11.slatic.net/p/acf695dc68c5cd1972be0789174b5b02.jpg_150x150Q100.jpg">
          </div>
        </mat-card>

      </div>
    </mat-card>
  </div>

  <div class="productSale" style="margin-top: -90px">
    <mat-card class="listItem" *ngFor="let item of secondItemSamsung">
      <div class="productImage">
        <mat-card class="listColumn" (click)="navigateDetail()">
          <p>{{item.name}} ></p>
          <h5>{{item.quantity}} quantities</h5>
          <div style="display: flex; width: 287px">
            <img class="imageMain" src={{item.Images[0].address}} alt="Sandal Nam" (click)="navigateDetail()">
            <img class="imageMain"
              src="https://vn-test-11.slatic.net/p/12ab68feb318b34ccd0db0754b9e8ead.jpg_150x150Q100.jpg"
              alt="Sandal Nam">
            <img class="imageMain"
              src="https://vn-test-11.slatic.net/p/33316a4477ddf9df276f283c4f0c3cb6.jpg_150x150Q100.jpg">
          </div>
        </mat-card>

      </div>
    </mat-card>
  </div>
</div>

<div class="flashContainer" style="margin-top: 80px;">
  <h3 (click)="navigateMore(2)">Trending {{asusName}} Collections</h3>
  <div class="productSale">
    <mat-card class="listItem" *ngFor="let item of firstItemAsus">
      <div class="productImage">
        <mat-card class="listColumn" (click)="navigateMore(2)">
          <p>{{item.name}} ></p>
          <h5>{{item.quantity}} quantities</h5>
          <div style="display: flex; width: 287px">
            <img class="imageMain" src={{item.Images[0].address}} alt="Sandal Nam" (click)="navigateDetail()">
            <img class="imageMain" src={{item.Images[0].address}} alt="Sandal Nam">
            <img class="imageMain"
              src="https://vn-test-11.slatic.net/p/acf695dc68c5cd1972be0789174b5b02.jpg_150x150Q100.jpg">
          </div>
        </mat-card>

      </div>
    </mat-card>
  </div>

  <div class="productSale" style="margin-top: -90px">
    <mat-card class="listItem" *ngFor="let item of secondItemSamsung">
      <div class="productImage">
        <mat-card class="listColumn" (click)="navigateDetail()">
          <p>{{item.name}} ></p>
          <h5>{{item.quantity}} quantities</h5>
          <div style="display: flex; width: 287px">
            <img class="imageMain" src={{item.Images[0].address}} alt="Sandal Nam" (click)="navigateDetail()">
            <img class="imageMain"
              src="https://vn-test-11.slatic.net/p/12ab68feb318b34ccd0db0754b9e8ead.jpg_150x150Q100.jpg"
              alt="Sandal Nam">
            <img class="imageMain"
              src="https://vn-test-11.slatic.net/p/33316a4477ddf9df276f283c4f0c3cb6.jpg_150x150Q100.jpg">
          </div>
        </mat-card>

      </div>
    </mat-card>
  </div>
</div>