<div class="voucher">
    <mat-card>    
        <img class="image" src="//laz-img-cdn.alicdn.com/images/ims-web/TB15wgLWBr0gK0jSZFnXXbRRXXa.png" alt="LazMall">
        T&M Mall
    </mat-card>
    <mat-card style="margin-left: 40px;">
        <img class="image" src="//laz-img-cdn.alicdn.com/images/ims-web/TB1UiNthUT1gK0jSZFhXXaAtVXa.png" alt="Vouchers">
        Top Up & eCoupon
    </mat-card>
    <mat-card style="margin-left: 40px;">
        <img class="image" src="//laz-img-cdn.alicdn.com/images/ims-web/TB1DahvhO_1gK0jSZFqXXcpaXXa.png" alt="Top-Up">
        Top Up & eCoupon
    </mat-card>
    <mat-card style="margin-left: 40px;">
        <img class="image" src="//laz-img-cdn.alicdn.com/images/ims-web/TB1CDWbBYj1gK0jSZFuXXcrHpXa.png" alt="LazGlobal">
        T&M Global
    </mat-card>
</div>