<app-header></app-header>
<app-search-input></app-search-input>
<app-voucher></app-voucher>
<div style="display: flex;"> 
    <img class="pdp-mod-common-image gallery-preview-panel__image" src="//vn-live-05.slatic.net/p/c1a6e064410c474980cbff910e75c474.jpg_720x720q80.jpg_.webp">
    <div>
        <h1>Máy Hút Bụi Mini, Máy Hút Bụi Cầm Tay, Máy Hút Bụi, Hút Bụi Ô Tô - Thiết Kế Cầm Tay Với Lực Hút Cực Mạnh Cùng 3 Đầu Hút Giúp Máy Hoạt Động Hiệu Quả Trong Mọi Góc Độ, Ngóc Ngách Của Xe - Bảo hành 1 đổi 1. Số Lượng Có Hạn - SALE CỰC SỐC!!!</h1>
        <div style="margin-left: 40px; border-bottom: 1px solid black; height: 35px">
            <a>59 Ratings</a>
            <a style="margin-left:30px;">1 Answered Questions</a>
            <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: rgb(236, 78, 39); float: right; margin-top: -3px;">favorite</mat-icon>
        </div>
             
        <div style="height: 35px; margin-top: 20px;">
            <a class="price">đ 250.00</a>
            <a style="float: right;">Want to changed ? Categories </a>
        </div>
        <button mat-raised-button color="warn">Buy Now</button>
    </div>
    <p class="delivery-header__title">Delivery Details</p>
    <div>
            <mat-icon class="location-icon" style="color: gray" >room</mat-icon>
            <p style="margin-top: -25px; margin-left: -100px;">Hồ Chí Minh, Quận 1, Phường Phạm Ngũ Lão</p>
    </div>
    <div>
        <mat-icon style="color: gray" class="ship-icon">local_shipping</mat-icon>
        <p style="margin-top: -25px; margin-left: -275px;">Standard Delivery</p>
        <p style="margin-top: -30px; margin-left: -50px;">đ15,000</p>
    </div>
    <div>
        <mat-icon style="color: gray;" class="cash-icon">payment</mat-icon>
        <p style="margin-top: -25px; margin-left: -275px;border-bottom: 1px solid black; height: 35px">Cash on Delivery Available (No mutual check)</p>
    </div>
    <p class="return-title">Return & Warranty </p>
    <mat-icon style="color: gray;" class="roll-icon">settings_backup_restore</mat-icon>
    <p style="margin-top: 232px; margin-left: 20px">7 days return to seller</p>
    <p style="margin-top: 260px; margin-left: -135px; color: #9e9e9e; font-size: 12px;">Change of mind is not applicable</p>
    <mat-icon style="color: gray" class="verified_user">verified_user</mat-icon>
    <p style="margin-top: 295px; margin-left: 20px;border-bottom: 1px solid black; width: 280px">Warranty is available</p>
</div>

<app-contact-us></app-contact-us>
<app-footer></app-footer>