<div class="flashContainer">
    <h3>Most Popular</h3>
    <div class="productSale">
        <mat-card class="listItem">
            <div class="productImage">
              <img class="imageMain" src="https://my-live-02.slatic.net/p/93870ee612bb3016bd1c078f1a701c7b.jpg" alt="" />
              <mat-card class="listColumn">
                <div style="display: flex; width: 300px">
                    <img class="imageMain" src="https://vn-test-11.slatic.net/p/c42ffbbe0495c80797dd09afdd4a5d37.jpg_170x170Q100.jpg" alt="Sandal Nam">
                    <p>Iphone 06 plus</p> 
                    <h5>41.385 products</h5>
                </div>
              </mat-card> 
              <mat-card class="listColumn">
                <div style="display: flex; width: 300px">
                    <img class="imageMain" src="https://vn-test-11.slatic.net/p/e23ac4daeed16a46453768cf0c6a093f.jpg_170x170Q100.jpg" alt="Sandal Nam">
                    <p>Iphone 06 plus</p>
                    <h5>41.385 products</h5>
                </div>
              </mat-card> 
              <mat-card class="listColumn">
                <div style="display: flex; width: 300px">
                    <img class="imageMain" src="https://vn-test-11.slatic.net/p/165e1d223b7ce57c282eb7694a206490.jpg_170x170Q100.jpg" alt="Sandal Nam">
                    <p>Iphone 06 plus</p>
                    <h5>41.385 products</h5>
                </div>
              </mat-card> 
            </div>

          </mat-card>
          
          <mat-card class="listRow">
            <div style="display: flex; width: 300px">
                <img class="imageMain" src="https://samnec.com.vn/uploads/san_pham_slide/2020-03-06-14-53-29samsung-t6500-02.jpg" alt="Sandal Nam">
                <p>Iphone 06 plus</p>
                <h5>41.385 products</h5>
            </div>
          </mat-card> 

          <mat-card class="listRow">
            <div style="display: flex; width: 300px">
                <img class="imageMain" src="https://vn-test-11.slatic.net/p/2ee3efec84cb0e8b3511cd5d61eabb4b.jpg_170x170Q100.jpg" alt="Sandal Nam">
                <p>Iphone 06 plus</p>
                <h5>41.385 products</h5>
            </div>
          </mat-card> 

          <mat-card class="listRow">
            <div style="display: flex; width: 300px">
                <img class="imageMain" src="https://my-live-02.slatic.net/p/f9c30d10c6fedb427a2c312b0f1ad978.jpg" alt="Sandal Nam">
                <p>Iphone 06 plus</p>
                <h5>41.385 products</h5>
            </div>
          </mat-card> 
        </div>
  </div>
  