<div class='content-header'>
    <a href="/">
      <img src="//laz-img-cdn.alicdn.com/images/ims-web/TB1T7K2d8Cw3KVjSZFuXXcAOpXa.png" alt="Online Shopping Lazada.vn Logo" class="logo-img"  [ngClass]="{'a' : true, 'sticky' : isSticky}">
    </a>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Search in App</mat-label>
          <input type="text" matInput placeholder="categories , clothes , macbook , etc , ...">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
    <mat-icon class="cart-icon" matSuffix>shopping_cart</mat-icon>
    <img src="//icms-image.slatic.net/images/ims-web/0ef10cfa-7d61-46ec-8451-77bc12633907.jpg" alt="ZLP:Stanley Black Decker" class="zalo-pay" >
</div>
