<div class="footer-fourth">
    <div class="lzd-footer-inner">
<div class="lzd-footer-width-50" data-spm="venture" data-spm-anchor-id="a2o4n.home.icms-5000632-1511774372834.venture.68b4e1826jx3lr">
<h3 class="lzd-footer-title">Lazada Southeast Asia</h3>
<a class="lzd-footer-sprit lzd-footer-country country-id" href="https://www.lazada.co.id"></a>
<a class="lzd-footer-sprit lzd-footer-country country-my" href="https://www.lazada.com.my"></a>
<a class="lzd-footer-sprit lzd-footer-country country-ph" href="https://www.lazada.com.ph"></a>
<a class="lzd-footer-sprit lzd-footer-country country-sg" href="https://www.lazada.sg"></a>
<a class="lzd-footer-sprit lzd-footer-country country-th" href="https://www.lazada.co.th"></a>
<a class="lzd-footer-sprit lzd-footer-country country-vn" href="https://www.lazada.vn"></a>
</div>
<div class="lzd-footer-width-25" data-spm="sns">
<h3 class="lzd-footer-title">Follow Us</h3>

  <a class="lzd-follow-us-icon lzd-footer-sprit" href="https://www.facebook.com/LazadaVietnam" data-spm-click="gostr=/lzdpub.footer.sns;locaid=d_fbk" style="background-position: -767px -672px">
  </a>

  <a class="lzd-follow-us-icon lzd-footer-sprit" href="https://www.linkedin.com/company/lazada" data-spm-click="gostr=/lzdpub.footer.sns;locaid=d_lnk" style="background-position: -812px -624px">
  </a>

  <a class="lzd-follow-us-icon lzd-footer-sprit" href="https://plus.google.com/+LazadaVnOfficial/posts" data-spm-click="gostr=/lzdpub.footer.sns;locaid=d_ggp" style="background-position: -767px -624px">
  </a>

  <a class="lzd-follow-us-icon lzd-footer-sprit" href="https://www.youtube.com/user/LazadaVN" data-spm-click="gostr=/lzdpub.footer.sns;locaid=d_ytb" style="background-position: -852px -671px">
  </a>

  <a class="lzd-follow-us-icon lzd-footer-sprit" href="https://www.pinterest.com/lazadavn/" data-spm-click="gostr=/lzdpub.footer.sns;locaid=d_pnt" style="background-position: -812px -671px">
  </a>

  <a class="lzd-follow-us-icon lzd-footer-sprit" href="https://me.zing.vn/b/lazadavn" data-spm-click="gostr=/lzdpub.footer.sns;locaid=d_zin" style="background-position: -721px -624px">
  </a>


</div>
<div class="lzd-footer-width-25">
<div class="lzd-footer-copyright">
© Lazada 2021
</div>
</div>
</div>
  </div>