<a href="/login">
    <img class="image" src="//icms-image.slatic.net/images/ims-web/26e000f2-824d-4717-b539-f7bdce8224ef.jpg" alt="10.7"
        data-spm-anchor-id="a2o4n.home.0.i0.68b4e1826jx3lr">
</a>
<div class="content" [ngClass]="{'a' : true, 'sticky' : isSticky}">
    <a href="/signup">SIGN UP</a>
    <a href="/login">LOGIN</a>
    <a href="">TRADE MARKET</a>
    <a href="">CUSTOMER CARE</a>
    <a href="" style="color: #0f1568">TRACKING ORDER</a>
    <a href="" style="color: #0f1568">SAVE MORE ON APP</a>
</div>